.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 20%;
   
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.click{
    background: none;
    border: none;
    color: red;
    font-size: 44px;

}

.warning{
    color: red;
}

.title{
   
    font-size: 14px;
    color: red;
}

.price{
    font-size: 14px;
}
.checkout{
    background-color: rgba(6, 90, 150, 0.819);
    border-radius: 9px;
    color: rgba(0, 0, 0, 0.693);
    width: 10vw;
    height: 6vh;
    text-align: center;
    border: none;
}


.checkout{
     background-color: rgba(3, 62, 104, 0.819);
}
.cart-overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 12;
    max-height: 90vh; 
    background-color: rgba(0, 0, 0, 0.916);
    overflow-y: auto;
    padding: 20px;
}


.img{
    object-fit: cover;
    height: 20vh;
    width: 150px;
}

.cart{
    display: flex;
   width: 90%;
   gap:5%;
    
}

.delete{
    border-radius: 4px;
    width: 120px;
    height: 30px;
    background-color: red;
    border: none;

}

.delete:hover{
     background-color: rgb(183, 7, 7);
}

.max{
     border: none;
    background-color: black;
    font-size: 25px;
    color: rgb(0, 183, 255);
}

.min{
    border: none;
    background-color: black;
    font-size: 25px;
    color: rgb(0, 183, 255);
}
.inbox{
    display: flex;
    align-items: center;
    flex-direction: row;
    
}

.content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.group{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}
.cart-footer{
    display: flex;
    flex-direction: column;
  
}
.clear{
    border-radius: 9px;
    background-color: red;
    border: none;
    width: 10vw;
    height: 6vh;
    text-align: center; 
}


.clear:hover{
background-color: rgb(136, 2, 2);
}

.status {
  color: green;

  font-size: 14px;
  font-weight: bold;
  margin: 10px;
}










@media screen and (min-width: 801px)  and (max-width: 1300px){





.cart-overlay{
    width: 40%;
    right: 3px;
}

.delete{
    height: 4vh;
    width: 10vw;
}

.checkout{
    width: 16vw;
}
.clear{
    
    width: 16vw;
}


}












@media screen and (min-width: 501px)and (max-width: 800px){

.cart-overlay{
    width: 70%;
    right: 3px;
}

.content{
    width: 50vw;
}


.delete{
    width: 10vw;
}

.checkout{
    width: 180px;
}
.clear{
    width: 180px;
}
}









@media screen and (max-width: 500px){

.cart-overlay{
    width: 100%;
 right: 6px;
 padding: 20px;
}



.content{
    width: 60vw;

}


.box{
    width: 90vw;
    margin-left: 30px;
    align-items: center;
    justify-content: center;
}

.cart-footer{

    align-items: center;
    text-align: center;
}
.checkout{
    width: 150px;
}
.clear{
    width: 150px;
}

img{
    max-width: 90px;
    max-height: 80px;
}
}