<div class="box">
    <h2 class="bay">We accept the following paying methods</h2>
    <div class="card">
        <img [src]="card" alt="card" class="card1">
        <img [src]="visa" alt="card" class="card2">
        <img [src]="visa1" alt="card" class="card3">
        <img [src]="playpal" alt="card" class="card4">
    </div>
    <div class="information">
        <div class="Log">
            <div>
                <img [src]="logo" alt="icon" class="logo">
            </div>
            <div class="boxin">
                <h3>my shop.ge</h3>
                <a routerLink="tel:123-456-7890">123-456-7890</a>
                <a routerLink="mailinfo@mysite.com" >info@mysite.com</a>    
                <p>500 Terry Francine St. San </p>
                <p>Francisco, CA 94158</p>
            </div>
        </div>
        <div class="info">
            <div class="info1">
                <a href="https://twitter.com" target="_blank">
                    <img [src]="twiter" alt="twitter" class="twiter"></a>
                <a href="https://instagram.com" target="_blank">
                    <img [src]="instagram" alt="instagram" class="instagram"></a>
                <a href="https://facebook.com" target="_blank">
                <img [src]="facebook" alt="facebook" class="facebook"></a>
            </div>
            <p>© 2025 Kokolaa17 | Digital Shop | All Right Reserved<span style=text-decoration:underline>wix</span>  </p>
        </div>  
    </div>
</div>


